body {
    background-color: lightskyblue;
}

#background {
    background-image: url("styles/images/cloud_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sun {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}

#sun::before,
#sun::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: yellow;
}

#sun::before {
    transform: rotate(30deg);
}

#sun::after {
    transform: rotate(60deg);
}

#game {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

#guessInput {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}


#dogButton {
    background-image: url('styles/images/kevin.png');
    background-repeat: no-repeat;
    background-color: transparent;
    position: sticky;
    cursor: pointer;
    left: calc(50% - 100px);
  }
  