canvas {
  border: 1px solid #000;
}

.outer {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12
}
