body {
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
    background-image: url('images/cloud_background.png');
    background-repeat: no-repeat;
}

#game {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#dogButton {
    background-image: url('images/kevin.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 9%;
    transform: translateX(50%);
    cursor: pointer;
    width: 0.05px;
    height: 0.05px;
    background-color: transparent;
    border: none;
}


#sun {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}

#sun::before,
#sun::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: yellow;
}

#sun::before {
    transform: rotate(30deg);
}

#sun::after {
    transform: rotate(60deg);
}

#guessInput {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

#submitGuess {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submitGuess:hover {
    background-color: darkblue;
}
